body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh;
    width: 100%;
}

.marker {
    border-radius: 50%;
    border: 2px solid white;
}

.popup {
    max-width: 250px;
}

.circle-marker {
    fill-opacity: 0.7;
}

.port-marker {
    color: blue;
    fill-color: lightblue;
}

.tanker-marker {
    color: red;
    fill-color: darkred;
}